<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Javascript-exercises</title>
</head>
<body>
<!--<div>
    <p id="about">this is a colorful paragraph</p>
    <button onclick="init()">Update</button>
</div>-->
<!--<div>
    <form action="#">
        <input id="fname">
        <input id="lname">
        <button id="submit">Submit</button>
    </form>
</div>-->
<br>
<!--<div>
<a id="myHref" href="https://www.google.se" target="_blank" hreflang="en-us">This is the link</a>
<button id="submit">Submit</button>
</div>-->

<!--<table id="myTable" style="width:30%">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Age</th>
    </tr>
    <tr>
        <td>Jill</td>
        <td>Smith</td>
        <td>50</td>
    </tr>
    <tr>
        <td>Eve</td>
        <td>Jackson</td>
        <td>94</td>
    </tr>
</table>
<button id="addRow">Add row</button>
<button id="delRow">Delete row</button>-->

<!--<p id="screensize"></p>-->

<!--<input type="text" value="text" id="myText">-->


<script type="text/javascript" src="../scripts/index.js"></script>
</body>
</html>